<div *ngIf="!dataLoaded" class="loader-container">
  <div class="loader">
    <img
      src="https://64.media.tumblr.com/f3c9c27da8351da3aee0452bffd7f6eb/tumblr_n71kcn1ch11ttqncoo1_500.gifv"
      alt="LOADING"
    />
  </div>
</div>

<div *ngIf="dataLoaded">
  <div *ngFor="let responseItem of response">
    <p style="font-size: 4em">{{ responseItem.title }}</p>
    <p style="font-size: 3em">{{ responseItem.date }}</p>
    <p style="font-size: 3em">{{ responseItem.url }}</p>
    <p style="font-size: 2em">{{ responseItem.content }}</p>
  </div>
</div>
